# files
!conf/*.sample.js
.DS_Store
bundle.js
compiled_*.js
!compiled_app_data.js
compiled_*.json
conf/*
deps.ts
doc_blocks_output_actual.json
package-lock.json

# directories
.sass-cache
tmp/*
node_modules

# exceptions
!.gitkeep
