# files
*.development.js
.DS_Store
bundle.js
compiled_*.js
compiled_*.json
docs/conf/app.ts
deps.ts
doc_blocks_output_actual.json

# directories
.sass-cache
tmp/*
node_modules

# exceptions
!.gitkeep
