# files
!*.webpack.development.js
*.development.js
.DS_Store
assets/bundles/*.js
compiled_*.js
compiled_*.json
configs.server.js
drash/conf/app.ts
ecosystem.config.js
package-lock.json

# directories
.sass-cache
dist
node_modules
tmp/*

# exceptions
!.gitkeep
.idea
