a,
a:visited {
  color: #ff7700;
}

a:hover {
  color: #333333;
}

body {
  background-color: #f4f4f4;
  font-size: 1.1rem;
  line-height: 2.25rem;
}

code {
  background: #e8e8e8;
  border-radius: 0.18125rem;
  color: #e83e8c;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 0;
  padding-left: 0.18125rem;
  padding-right: 0.18125rem;
}

h1 {
  margin-bottom: 1rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

hr {
  border-width: 2px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


ol li {
  list-style-type: decimal;
  margin-left: 2rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

ul li {
  list-style-type: disc;
  margin-left: 2rem;
}
