<!DOCTYPE html>
<html class="w-full h-full">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=no"/>
    <title>Drash Land - Error 401 (Unauthorized)</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="w-full h-full p-10" style="background: #f4f4f4">
    <div class="flex justify-center flex-col w-full h-full">
      <div class="self-center max-w-xl">
        <h1 class="font-bold mb-10 text-9xl text-center">Who are you?</h1>
        <div class="bg-white p-6 text-center">
          <h2 class="text-3xl text-bold mb-5">401 &ndash; Unauthorized</h2>
          <div class="mb-5">
            <p class="mb-2">Your authorization failed.</p>
          </div>
          <a
            class="bg-yellow-500 cursor-pointer rounded-full px-5 py-2 text-white hover:bg-yellow-600 transition-colors"
            onclick="history.back()"
           >Go back</a>
        </div>
      </div>
    </div>
  </body>
</html>
